* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    /* font-weight: 700; */
    
    
}
header {
    text-align: center;
    border-style: none;
    background-color: darkcyan;
    
}

.page-header {
    border: 2px darkgrey;
    padding-top: 10px;
    color: white;
    font-weight: 700;
}

.navbar-inverse {
    background-color:white;
    border-color:rgb(197, 195, 195);
    border-width: 3px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom-style: solid;
    border-color: rgb(139, 137, 137);
}

.container {
    border: none;
    margin-top: 0px;
}

header {
    text-align: center;
    border
}

Body {
    width: 85%;
    margin: 0 auto;
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/dust_scratches.png");
}

.wrapper {
    width:97%;
    margin:0 auto;
    padding: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(197, 195, 195);
    background-color: white;
    margin-bottom:20px;
}

#text {
    color:black;
    display: block;
    padding-top: 10px;
}
h1 {
    color: white;
}
h2  {
    color: darkcyan;
    font-weight: 700;
}
label {
    color: darkcyan;
    font-weight: 700;

}
footer {
    
    margin-top: 20px;
    padding:20px;
    background-color: darkcyan;
    text-align: center;   
}
p {
    color: white;
}
.image {
    margin: auto;
    width: 75%;
}

i {
    float:left;
    padding:20px;
}